@page
@model IndexModel
@{
    ViewData["Title"] = "FMU-API";
}

<div id="parametres" hidden>
    <input asp-for="ApiServerIpPort"/>
</div>

<div id="app"/ style="width:100vw; height:100vh;" />

<div id="window" style='width:80%; height:80%;' hidden />

@section Scripts {
    <script src="~/js/views/index.js" type="module"></script>
}