@page
@using WebApi.Pages
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment Environment
@model IndexModel
@{
    ViewData["Title"] = "FMU-API";
}

<div id="parameters" hidden>
    <input asp-for="ApiServerIpPort"/>
</div>

<div id="app" style="width:100vw; height:100vh;"></div>
<div id="window" style='width:80%; height:80%;' hidden></div>

@section Scripts {
    @if (Environment.IsDevelopment())
    {
        <script src="~/js/views/index.js" type="module"></script>
    }
    else
    {
        <script src="~/bundle/index.js" asp-append-version="true"></script>
    }
}
